@if(table === 'posts'){
    <p-table 
    [value]="posts" 
    [paginator]="true" 
    [tableStyle]="{ 'min-width': '50rem' }" 
    [globalFilterFields]="['userId', 'id']" 
    [rows]="10">
        <ng-template #header>
            <tr>
                <th>user</th>
                <th>post_id</th>
                <th>details</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="user.name" placeholder="მოძებნე სახელით" ariaLabel="Filter Name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="id" placeholder="მოძებნე აიდით" ariaLabel="Filter Country"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-post>
            <tr>
                <td>{{ post.user.name }}</td>
                <td>{{ post.id }}</td>
                <td><p-button (click)="showPopUp(post.id)" label="დეტალურად" /></td>
            </tr>
        </ng-template>
    </p-table>
    <app-popup *ngIf="isPopUpClicked" (isPopUpdisplayed)="checkPopup($event)" [postInfo]="post"></app-popup>
}
@else if (table === 'person') {
    <p-table [value]="posts" [tableStyle]="{ 'max-width': '25rem' }" [globalFilterFields]="['name', 'email']">
        <ng-template #header>
            <tr>
                <th>სახელი/გვარი</th>
                <th>კომპანია</th>
                <th>ტელ</th>
                <th>ელ. ფოსტა</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="name" placeholder="მოძებნე სახელით" ariaLabel="Filter Name"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="email" placeholder="მოძებნე ელ.ფოსტით" ariaLabel="Filter Country"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
                <ng-template #body let-post>
            <tr>
                <td>{{ post.name }}</td>
                <td>{{ post.company.name }}</td>
                <td>{{ post.phone }}</td>
                <td>{{ post.email }}</td>
                <td><a [routerLink]="['/posts', post.id]">ვრცლად</a> </td>
                <td><p-button (click)="displayToDo(post.id)" label="დავალებები"/></td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog *ngIf="dspToDo" header="todo" [modal]="true" [(visible)]="dspToDo" >
        <ng-content *ngIf="todoList.length">
            <p-table [value]="todoList">
                <ng-template #header>
                    <tr>
                        <th>მისსიები:</th>
                    <tr>
                </ng-template>
                <ng-template #body let-list>
                    <tr [ngClass]="list.completed ? 'green' : '' ">
                        <td>{{list.title}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-content>
    </p-dialog>
}